
/** banner-section **/


.banner-section{
  position: relative;
  padding: 193px 0px 0px 0px;
}

.banner-section .content-box{
  position: relative;
  display: block;
  padding-bottom: 300px;
}

.banner-section .inner-box{
  position: relative;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  padding-right: 380px;
}

.banner-section .content-box h2{
  font-size: 120px;
  line-height: 130px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 22px;
  text-align: center;
}

.banner-section .content-box h2 span{

}

.banner-section .inner-box .image{
  position: absolute;
  right: 0px;
  top: 65px;
}

.banner-section .inner-box .image img{
  width: 100%;
}

.banner-section .image-box{
  position: relative;
  max-width: 1750px;
  padding: 0px 15px;
  width: 100%;
  margin: 0 auto;
}

.banner-section .image-box img{
  width: 100%;
}

.banner-section .curve-text{
  position: absolute;
  left: -85px;
  top: 50px;
}

.banner-section .content-box .social-links{
  position: absolute;
  left: 84px;
  bottom: 245px;
  display: flex;
  align-items: center;
}

.banner-section .content-box .social-links li{
  margin-right: 18px;
}

.banner-section .content-box .social-links li a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
}

.banner-section .content-box .social-links li a:hover{

}

.banner-section .content-box .video-btn{
  position: absolute;
  right: -116px;
  bottom: 344px;
}

.banner-section .content-box .video-btn a{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 64px;
  background: rgba(255, 255, 255, 0.05);
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.20);
}

.banner-section .content-box .video-btn a:hover{
  color: #fff;
}

.banner-section .content-box .video-btn a:before,
.banner-section .content-box .video-btn a:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
  content: "";
  position: absolute;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.02);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.02);
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.banner-section .content-box .video-btn a:after{
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

.banner-section .pattern-layer .pattern-1{
  position: absolute;
  left: 90px;
  top: 303px;
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.banner-section .pattern-layer .pattern-2{
  position: absolute;
  left: 265px;
  top: 118px;
  width: 158px;
  height: 158px;
  background-repeat: no-repeat;
  z-index: 1;
}

.banner-section .pattern-layer .pattern-3{
  position: absolute;
  top: 0px;
  left: 50%;
  width: 200px;
  height: 88px;
  background-repeat: no-repeat;
}

.banner-section .pattern-layer .pattern-4{
  position: absolute;
  left: 60%;
  top: 125px;
  width: 211px;
  height: 211px;
  background-repeat: no-repeat;
}

.banner-section .pattern-layer .pattern-5{
  position: absolute;
  top: 263px;
  right: 329px;
  width: 39px;
  height: 41px;
  background-repeat: no-repeat;
}

.banner-section .pattern-layer .pattern-6{
  position: absolute;
  top: 636px;
  right: 463px;
  width: 126px;
  height: 126px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 4s infinite linear;
  animation: zoom-fade 4s infinite linear;
}

.banner-section .pattern-layer .pattern-7{
  position: absolute;
  top: 493px;
  right: 0px;
  width: 512px;
  height: 512px;
  background-repeat: no-repeat;
}

.banner-section .pattern-layer .pattern-8{
  position: absolute;
  left: 0px;
  top: 539px;
  width: 397px;
  height: 816px;
  background-repeat: no-repeat;
}

.banner-section .pattern-layer .pattern-9{
  position: absolute;
  left: 323px;
  top: 800px;
  width: 291px;
  height: 276px;
  background-repeat: no-repeat;
  z-index: -1;
  -webkit-animation: zoom-fade 6s infinite linear;
  animation: zoom-fade 6s infinite linear;
}

.banner-section .pattern-layer .pattern-10{
  position: absolute;
  right: 0px;
  bottom: -102px;
  width: 203px;
  height: 256px;
  background-repeat: no-repeat;
}


/** banner-style-two **/

.banner-style-two{
  position: relative;
  padding: 194px 0px 167px 0px;
}

.banner-style-two .content-box{
  position: relative;
  display: block;
  max-width: 890px;
  margin-left: 220px;
  padding-right: 270px;
}

.banner-style-two .content-box h2{
  position: relative;
  display: block;
  font-size: 82px;
  line-height: 92px;
  margin-bottom: 54px;
}

.banner-style-two .content-box h2 img{
  position: relative;
  display: inline-block;
  border-radius: 50%;
}

.banner-style-two .content-box h2 span{
  position: relative;
  display: inline-block;
  z-index: 1;
  margin-right: 35px;
}

.banner-style-two .content-box h2 span:before{
  position: absolute;
  content: '';
  width: calc(100% + 40px);
  height: calc(100% + 5px);
  left: -20px;
  bottom: -2px;
  border-radius: 10px;
  z-index: -1;
  transform: skewX(-10deg) rotate(4deg);
}

.banner-style-two .content-box .text-box{
  position: relative;
  display: block;
  padding-left: 125px;
}

.banner-style-two .content-box .text-box .icon-box{
  position: absolute;
  left: 0px;
  bottom: 25px;
}

.banner-style-two .content-box .text-box p{
  max-width: 370px;
}

.banner-style-two .curve-text{
  position: absolute;
  top: -60px;
  right: 0px;
}

.banner-style-two .image-layer{
  position: absolute;
  right: 100px;
  bottom: 0px;
}

.banner-style-two .pattern-layer .pattern-1{
  position: absolute;
  left: 45px;
  top: 307px;
  width: 94px;
  height: 94px;
  background-repeat: no-repeat;
}

.banner-style-two .pattern-layer .pattern-2{
  position: absolute;
  left: 293px;
  top: 243px;
  width: 116px;
  height: 88px;
  background-repeat: no-repeat;
}

.banner-style-two .pattern-layer .pattern-3{
  position: absolute;
  left: 50%;
  top: 0px;
  width: 200px;
  height: 88px;
  background-repeat: no-repeat;
}

.banner-style-two .pattern-layer .pattern-4{
  position: absolute;
  top: 209px;
  right: 0px;
  width: 508px;
  height: 512px;
  background-repeat: no-repeat;
}

.banner-style-two .pattern-layer .pattern-5{
  position: absolute;
  left: 125px;
  top: 470px;
  width: 234px;
  height: 234px;
  background-repeat: no-repeat;
}


/** banner-style-three **/

.banner-style-three{
  position: relative;
  padding-top: 197px;
}

.banner-style-three .content-box h2{
  position: relative;
  font-size: 82px;
  line-height: 92px;
  margin-bottom: 28px;
}

.banner-style-three .content-box h2 span{
  position: relative;
  display: inline-block;
}

.banner-style-three .content-box h2 span.text{
  margin-right: 10px;
}

.banner-style-three .content-box h2 span.text:before{
  position: absolute;
  content: '';
  width: calc(100% + 40px);
  height: calc(100% + 5px);
  left: -20px;
  bottom: -2px;
  border-radius: 10px;
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.10);
  transform: skewX(-10deg) rotate(2deg);
}

.banner-style-three .content-box p{
  max-width: 530px;
  margin-bottom: 35px;
}

.banner-style-three .content-box .rating-box{
  position: relative;
  float: right;
}

.banner-style-three .content-box .rating-box h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 18px;
}

.banner-style-three .content-box .rating-box p{
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 12px;
}

.banner-style-three .content-box .rating-box .rating{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-style-three .content-box .rating-box .rating li{
  font-size: 18px;
  margin: 0px 2px;
}

.banner-style-three .inner-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 304px;
  height: 304px;
  background: #141416;
  border-radius: 50%;
  text-align: center;
}

.banner-style-three .inner-box h2{
  position: relative;
  display: block;
  font-size: 82px;
  line-height: 61px;
  font-family: var(--text-font);
  font-weight: 400;
  margin-bottom: 4px;
}

.banner-style-three .inner-box h2 span{
  font-size: 32px;
}

.banner-style-three .inner-box h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  margin-bottom: 21px;
}

.banner-style-three .inner-box .clients-list{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-style-three .inner-box .clients-list li{
  position: relative;
  display: inline-block;
  border: 2px solid #1B1B1B;
  margin: 0px -9px;
  border-radius: 50%;
}

.banner-style-three .inner-box .clients-list li span{
  position: relative;
  display: inline-block;
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-radius: 50%;
}

.banner-style-three .lower-box{
  position: relative;
  padding-right: 532px;
}

.banner-style-three .lower-box .image-box{
  position: relative;
  display: block;
  z-index: 1;
}

.banner-style-three .lower-box .image-box img{
  width: 100%;
}

.banner-style-three .lower-box .lower-content{
  position: absolute;
  width: 320px;
  padding: 113px 30px 64px 80px;
  right: 264px;
  bottom: 0px;
  text-align: center;
  max-height: 998px;
}

.banner-style-three .lower-box .social-links{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 307px;
}

.banner-style-three .lower-box .social-links:before{
  position: absolute;
  content: '';
  background: rgba(255, 255, 255, 0.10);
  width: 1px;
  height: 260px;
  left: 100px;
  top: 45px;
}

.banner-style-three .lower-box .social-links li{
  margin: 0px 9px;
}

.banner-style-three .lower-box .social-links li a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
}

.banner-style-three .lower-box .social-links li a:hover{
  color: var(--secondary-color);
}

.banner-style-three .lower-box .video-btn a{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 64px;
  background: rgba(255, 255, 255, 0.05);
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.20);
}

.banner-style-three .lower-box .video-btn a:hover{
  background: #fff;
}

.banner-style-three .lower-box .video-btn a:before,
.banner-style-three .lower-box .video-btn a:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
  content: "";
  position: absolute;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.05);
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.banner-style-three .lower-box .video-btn a:after{
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

.banner-style-three .curve-text{
  background: transparent;
}

.banner-style-three .curve-text .curved-circle{
  color: #fff;
}

.banner-style-three .curve-text .curved-circle .char10, 
.banner-style-three .curve-text .curved-circle .char11, 
.banner-style-three .curve-text .curved-circle .char12, 
.banner-style-three .curve-text .curved-circle .char13, 
.banner-style-three .curve-text .curved-circle .char14, 
.banner-style-three .curve-text .curved-circle .char15, 
.banner-style-three .curve-text .curved-circle .char16, 
.banner-style-three .curve-text .curved-circle .char17{
  color: #fff;
}

.banner-style-three .curve-text .icon-box{
  border-color: rgba(255, 255, 255, 0.10);
}

.banner-style-three .pattern-layer .pattern-1{
  position: absolute;
  left: 0px;
  top: 240px;
  width: 317px;
  height: 816px;
  background-repeat: no-repeat;
}

.banner-style-three .pattern-layer .pattern-2{
  position: absolute;
  left: 52px;
  top: 570px;
  width: 480px;
  height: 480px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 8s infinite linear;
  animation: zoom-fade 8s infinite linear;
}

.banner-style-three .pattern-layer .pattern-3{
  position: absolute;
  left: 40%;
  top: 200px;
  width: 150px;
  height: 56px;
  background-repeat: no-repeat;
}

.banner-style-three .pattern-layer .pattern-4{
  position: absolute;
  top: 70px;
  right: 0px;
  width: 121px;
  height: 157px;
  background-repeat: no-repeat;
}



/** rtl-css **/



/** responsive-css **/

@media only screen and (max-width: 1799px){
  .banner-style-three .content-box .rating-box{
    float: left;
    text-align: left;
  }

  .banner-style-three .content-box .rating-box .rating li{
    color: #fff;
  }

  .banner-style-three .content-box .rating-box .rating{
    justify-content: left;
  }
}

@media only screen and (max-width: 1599px){
  .banner-style-two .image-layer{
    display: none;
  }

  .banner-style-three .lower-box .social-links{
    margin-bottom: 100px;
  }

  .banner-style-three .lower-box .video-btn{
    margin-bottom: 100px;
  }

  .banner-style-three .lower-box .social-links:before{
    display: none;
  }
}

@media only screen and (max-width: 1200px){
  .banner-section .content-box .curve-text{
    display: none;
  }

  .banner-style-two .content-box{
    margin-left: 0px;
  }

  .banner-style-three .lower-box{
    padding-right: 15px;
    padding-left: 15px;
  }

  .banner-style-three .lower-box .lower-content{
    display: none;
  }
}

@media only screen and (max-width: 991px){
  .banner-section .pattern-layer{
    display: none;
  }

  .banner-style-three .pattern-layer{
    display: none;
  }

  .banner-style-three .content-box{
    margin-left: 0px;
    margin-bottom: 60px;
  }

  .banner-style-three .content-box h2 span.text:before{
    display: none;
  }
}

@media only screen and (max-width: 767px){
  .banner-section .content-box h2{
    font-size: 60px;
    line-height: 70px;
  }

  .banner-section{
    padding-top: 160px;
  }

  .banner-style-two .content-box{
    padding-right: 0px;
    max-width: 100%;
  }

  .banner-style-two .curve-text{
    position: relative;
    top: 0px;
  }

  .banner-style-two .content-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .banner-style-two .content-box h2 span:before{
    display: none;
  }

  .banner-style-two{
    padding-top: 130px;
    padding-bottom: 100px;
  }

  .banner-style-three .content-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .banner-style-three .content-box p{
    max-width: 100%;
  }

  .banner-style-three{
    padding-top: 150px;
  }
}

@media only screen and (max-width: 599px){
  .banner-section .content-box .social-links{
    display: none;
  }

  .banner-section .inner-box{
    padding-right: 0px;
  }

  .banner-section .inner-box .image{
    position: relative;
    top: 0px;
    margin-top: 30px;
  }

  .banner-section .content-box{
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 499px){
  .banner-style-two .content-box .text-box{
    padding-left: 0px;
  }

  .banner-style-two .content-box .text-box .icon-box{
    display: none;
  }
}









































