
/** chooseus-section **/

.chooseus-section{
  position: relative;
}

.image_block_one .image-box{
  position: relative;
  display: block;
  padding: 320px 250px 0px 0px;
}

.image_block_one .image-box img{
  position: relative;
  width: 100%;
}

.image_block_one .image-box .image-2{
  position: absolute;
  right: 0px;
  top: 143px;
}

.image_block_one .image-box .image-3{
  position: absolute;
  top: 0px;
  left: 86px;
}

.image_block_one .image-box .image-shape .shape-1{
  position: absolute;
  left: 50px;
  top: 50px;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  border: 5px solid #1B1B1B;
}

.image_block_one .image-box .image-shape .shape-2{
  position: absolute;
  left: -62px;
  top: 71px;
  width: 200px;
  height: 88px;
  background-repeat: no-repeat;
}

.image_block_one .image-box .image-shape .shape-3{
  position: absolute;
  right: -32px;
  bottom: 75px;
  width: 200px;
  height: 88px;
  background-repeat: no-repeat;
}

.image_block_one .image-box .image-shape .shape-4{
  position: absolute;
  left: -170px;
  top: 0px;
  width: 756px;
  height: 756px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 9s infinite linear;
  animation: zoom-fade 9s infinite linear;
}

.content_block_one .content-box{
  position: relative;
  display: block;
}

.content_block_one .content-box .inner-box .single-item{
  position: relative;
  display: block;
  padding-bottom: 23px;
  border-bottom: 1px solid #1B1B1B;
  margin-bottom: 43px;
}

.content_block_one .content-box .inner-box .single-item .icon-box{
  position: absolute;
  top: 0px;
  right: 0px;
  transition: all 500ms ease;
}

.content_block_one .content-box .inner-box .single-item:hover .icon-box{
  transform: scale(0,0);
}

.content_block_one .content-box .inner-box .single-item h3{
  position: relative;
  display: inline-block;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
  padding-right: 38px;
}

.content_block_one .content-box .inner-box .single-item p{
  max-width: 400px;
}

.content_block_one .content-box .inner-box .single-item h3 span{
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  font-family: var(--text-font);
  transition: all 500ms ease;
}

.content_block_one .content-box .inner-box .single-item:hover h3 span{

}

.content_block_one .content-box .inner-box .single-item .link{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 0px;
}

.content_block_one .content-box .inner-box .single-item .link a{
  position: relative;
  display: inline-block;
  font-size: 32px;
  opacity: 0;
}

.content_block_one .content-box .inner-box .single-item:hover .link a{
  opacity: 1;
}

.content_block_one .content-box .more-link a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: var(--text-color);
  text-decoration: underline;
}

.content_block_one .content-box .more-link a:hover{

}

.content_block_one .content-box .more-link a span{
  position: relative;
  padding-right: 22px;
}

.content_block_one .content-box .more-link a span:before{
  position: absolute;
  content: '\e901';
  font-family: 'icomoon';
  font-size: 12px;
  top: 0px;
  right: 0px;
  font-weight: 700;
}

.image_block_one .image-box .image-4{
  position: absolute;
  right: 80px;
  bottom: 96px;
}

.image_block_one .image-box .image-shape .shape-5{
  position: absolute;
  left: -80px;
  top: 50px;
  width: 638px;
  height: 638px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 9s infinite linear;
  animation: zoom-fade 9s infinite linear;
}

.chooseus-section .pattern-layer{
  position: absolute;
  top: 87px;
  right: 214px;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
}



/** rtl-css **/



/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .content_block_one .content-box{
    margin-left: 0px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px){
  .chooseus-section{
    padding: 70px 0px;
  }
}

@media only screen and (max-width: 599px){
  .image_block_one .image-box .image-shape{
    display: none;
  }

  .content_block_one .content-box .inner-box .single-item .icon-box{
    position: relative;
    margin-bottom: 30px;
    transform: scale(1.0) !important;
  }

  .content_block_one .content-box .inner-box .single-item .link{
    position: relative;
    top: 0px;
    transform: translateY(0%);
    margin-top: 15px;
  }

  .content_block_one .content-box .inner-box .single-item .link a{
    opacity: 1;
  }
}

@media only screen and (max-width: 499px){
  .image_block_one .image-box{
    padding: 0px;
  }

  .image_block_one .image-box .image-2{
    position: relative;
    top: 0px;
    margin: 30px 0px;
  }

  .image_block_one .image-box .image-3{
    position: relative;
    left: 0px;
  }

  .image_block_one .image-box .image-4{
    position: relative;
    right: 0px;
    bottom: 0px;
    margin-top: 30px;
  }
}









































