
/** gallery-section **/


.gallery-section{
  position: relative;
}

.gallery-block-one .inner-box{
  position: relative;
  display: block;
}

.gallery-block-one .inner-box .image-box{
  position: relative;
  display: block;
}

.gallery-block-one .inner-box .image-box:before{
  position: absolute;
  content: '';
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  left: 30px;
  top: 30px;
  border: 1px solid #fff;
  transform: scale(0,0);
  z-index: 1;
  transition: all 500ms ease;
}

/*.gallery-block-one .inner-box:hover .image-box:before{*/
/*  transform: scale(1,1);*/
/*}*/

.gallery-block-one .inner-box .image-box img{
  width: 100%;
}

.gallery-block-one .inner-box .image-box .image{
  position: relative;
  display: block;
  overflow: hidden;
}

.gallery-block-one .inner-box .image-box .link-btn{
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 2;
}

.gallery-block-one .inner-box .image-box .link-btn a{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #fff;
  text-align: center;
  font-size: 24px;
  opacity: 0;
  transition: all 1000ms ease;
}

.gallery-block-one .inner-box:hover .image-box .link-btn a{
  opacity: 1;
}

.gallery-block-one .inner-box .image-box .link-btn a:hover{
  color: #fff;
}

.gallery-block-one .inner-box .lower-content{
  position: relative;
  padding: 22px 30px 23px 30px;
  border-bottom: 1px solid #1B1B1B;
}

.gallery-block-one .inner-box .lower-content .link{
  position: absolute;
  top: 36px;
  right: 0px;
}

.gallery-block-one .inner-box .lower-content .link a{
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: var(--text-color);
  background: #1B1B1B;
  border-radius: 40px;
  padding: 5px 16px;
  z-index: 1;
}

.gallery-block-one .inner-box .lower-content .link a:hover{
  color: #fff;
}

.gallery-block-one .inner-box .lower-content p{
  display: block;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 6px;
}

.gallery-block-one .inner-box .lower-content h3{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 30px;
}

.gallery-block-one .inner-box .lower-content h3 a{
  display: inline-block;
  color: #fff;
}

.gallery-block-one .inner-box .lower-content h3 a:hover{

}

.gallery-section .owl-nav{
  position: absolute;
  left: 0px;
  top: -150px;
  right: 6px;
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  text-align: right;
}

.gallery-section .owl-nav button{
  position: relative;
  display: inline-block;
  width: 86px;
  height: 86px;
  line-height: 86px;
  border: 1px solid #1B1B1B;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  margin: 0px -6px;
  transition: all 500ms ease;
}

.gallery-section .owl-nav button span{
  display: none;
}

.gallery-section .owl-nav button.owl-prev:before{
  position: absolute;
  content: '';
  background-image: url(../../images/icons/icon-18.png);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 500ms ease;
}

.gallery-section .owl-nav button.owl-next:before{
  position: absolute;
  content: '';
  background-image: url(../../images/icons/icon-19.png);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 500ms ease;
}

.gallery-section .owl-nav button:hover.owl-prev:before,
.gallery-section .owl-nav button:hover.owl-next:before{
  opacity: 1;
  filter: grayscale(0%);
}


/** gallery-style-two **/

.gallery-style-two{
  position: relative;
  background: #1B1B1B;
}

.gallery-block-two{
  position: relative;
  display: block;
}

.gallery-block-two p{
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 14px;
}

.gallery-block-two h2{
  display: block;
  font-size: 32px;
  line-height: 42px;
}

.gallery-block-two h2 a{
  display: inline-block;
  color: var(--text-color);
}

.gallery-block-two h2 a:hover{

}

.gallery-block-two .image-box{
  position: relative;
  display: block;
  background: #141416;
  padding: 24px;
}

.gallery-block-two .image-box .image{
  position: relative;
  display: block;
  border-radius: 50%;
}

.gallery-block-two .image-box .image:before{
  position: absolute;
  content: '';
  border: 1px solid #fff;
  border-radius: 50%;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  left: 30px;
  top: 30px;
  z-index: 1;
  transform: scale(0,0);
  transition: all 500ms ease;
}

.gallery-block-two .image-box:hover .image:before{
  transform: scale(1,1);
}

.gallery-block-two .image-box .image img{
  width: 100%;
  border-radius: 50%;
}

.gallery-block-two .image-box .link{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

.gallery-block-two .image-box .link a{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #fff;
  text-align: center;
  font-size: 24px;
  transform: scale(0,0);
}

.gallery-block-two .image-box:hover .link a{
  transform: scale(1,1);
}

.gallery-block-two .image-box .link a:hover{
  color: #fff;
}

.gallery-style-two .owl-dots{
  position: absolute;
  left: 0px;
  bottom: -38px;
  right: 0px;
  max-width: 802px;
  width: 100%;
  height: 1px;
  margin: 0 auto;
  counter-reset: slides-num;
}

.gallery-style-two .owl-dots button{
  display: inline-block;
  width: 20%;
  height: 1px;
  background: rgba(255, 255, 255, 0.10);
  cursor: pointer;
  transition: all 500ms ease;
}

.gallery-style-two .owl-dots button.active{
  background: #e4e9e6;
}

.gallery-style-two .owl-dots::after {
  position: absolute;
  left: -50px;
  top: 9px;
  content: counter(slides-num);
  display: inline-block;
  font-size: 14px;
  color: #BABABA;
}

.gallery-style-two .owl-dots:before{
  position: absolute;
  content: '';
  left: -60px;
  top: 15px;
  width: 1px;
  height: 12px;
  background: #BABABA;
  transform: rotate(10deg);
}

.gallery-style-two .owl-dots button span{
  position: absolute;
  top: 9px;
  left: -86px;
  counter-increment: slides-num;
  font-size: 14px;
  margin: 0px;
  color: #BABABA;
  background: transparent !important;
}

.gallery-style-two .owl-dots button.active span:before{
  position: absolute;
  content: counter(slides-num);
}


.gallery-section.style-two{
  padding-left: 100px;
  padding-right: 100px;
}

.gallery-section.style-two .gallery-block-one .inner-box .lower-content{
  border-bottom: none;
}


/** gallery-style-three **/

.gallery-style-three{
  position: relative;
  padding: 100px 0px 120px 0px;
}

.gallery-style-three .gallery-list li{
  position: relative;
  display: block;
  padding-left: 195px;
  border-bottom: 1px solid #1B1B1B;
}

.gallery-style-three .gallery-list li span{
  position: absolute;
  left: 0px;
  top: 36px;
  font-size: 120px;
  line-height: 120px;
  font-family: var(--title-font);
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.10);
  text-transform: uppercase;
}

.gallery-style-three .gallery-list li a{
  position: relative;
  display: block;
  font-size: 60px;
  line-height: 70px;
  font-family: var(--title-font);
  padding: 60px 0px;
  font-weight: 700;
  color: #fff;
}

.gallery-style-three .gallery-list li a:hover{
  text-decoration: underline;
}

.gallery-style-three .gallery-list li a i{
  position: absolute;
  top: 92px;
  right: 0px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.20);
  transition: all 500ms ease;
}

.gallery-style-three .gallery-list li a:hover i{

}

.gallery-style-three .gallery-list li .image-box{
  position: absolute;
  top: -80px;
  right: 85px;
  transform: rotate(10deg) scale(0,0);
  z-index: 1;
  transition: all 500ms ease;
}

.gallery-style-three .gallery-list li:hover .image-box{
  transform: rotate(10deg) scale(1,1);
}

.gallery-style-three .gallery-list li .image-box:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 10px;
  right: 10px;
  z-index: -1;
}

.gallery-page-section .gallery-block-one .inner-box{
  margin-bottom: 50px;
}




/** rtl-css **/



/** responsive-css **/

@media only screen and (max-width: 1200px){
  .gallery-style-three .gallery-list li .image-box{
    display: none;
  }

  .gallery-style-three .gallery-list li a i{
    position: relative;
    top: 0px;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 991px){
  .gallery-style-two .owl-dots{
    display: none;
  }

  .gallery-style-two{
    padding-bottom: 110px;
  }

  .gallery-section.style-two{
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 767px){
  .gallery-section .owl-nav{
    display: none;
  }

  .gallery-style-two{
    padding: 65px 0px;
  }

  .gallery-block-two .image-box{
    margin: 30px 0px;
  }

  .gallery-section.style-two{
    padding-top: 60px;
  }

  .gallery-style-three{
    padding: 20px 0px 70px 0px;
  }

  .gallery-style-three .gallery-list li{
    padding-left: 0px;
  }

  .gallery-style-three .gallery-list li span{
    position: relative;
    margin-bottom: 20px;
  }

  .gallery-page-section{
    padding: 70px 0px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){
  .gallery-block-one .inner-box .lower-content .link{
    position: relative;
    top: 0px;
    margin-bottom: 20px;
  }

  .gallery-style-three .gallery-list li a{
    font-size: 30px;
    line-height: 40px;
  }
}









































